{% extends "base.html" %}
{% block html_classes %}host{% endblock %}
{% block content %}
  <section id="lobby">
    <h1>
      session code:
      <code id="code-placeholder">????</code><code id="real-code">{{ session_code }}</code>
    </h1>

    <p>
      <a id="hide-session-code" href="javascript:hideSessionCode();">Hide session code</a>
      <a id="show-session-code" class="hidden" href="javascript:showSessionCode();">Show session code</a>
    </p>

    <p>join in at <span id="hostname"></span></p>
    <div id="lobby-cta">
      <p><a id="everyone-is-here" class="button">Everyone is here! Go!</a></p>
    </div>
  </section>

  <section id="categories">
    <h1>what category does <span id="category-chooser"></span> want to see</h1>
    <ul id="category-choices">
    </ul>
  </section>

  <section id="prompt">
    <h1>New release in <em id="category"></em>: <span id="product"></span>, version <span id="version"></span></h1>
    <p id="prompt-open">Submit your changes! time remaining: <span id="timer"></span></p>
    <p id="prompt-closed">Which is <span id="favourite-chooser"></span>'s favourite?</p>
    <ul id="changes">
    </ul>
    <p id="restart-ui"><a id="none-of-these" class="button">None of these work for me.</a></p>
  </section>

  <div id="boss" data-mood="neutral">
  </div>

  <p id="subtitle"></p>

  <script src="{{ url_for('static', filename='vendor/mespeak/mespeak.js') }}"></script>
  <script src="{{ url_for('static', filename='host.js') }}"></script>
{% endblock %}
