{% extends "base.html" %}
{% block html_classes %}host{% endblock %}
{% block content %}
  <section id="lobby">
    <h1>
      session code:
      <div id="session-code" style="display:none"><code>{{ session_code }}</code></div>
      <div id="session-code-placeholder" style="display:inline"><code>????</code></div></h1>
    <p>join in at <span id="hostname"></span></p>
    <div id="lobby-cta">
      <p><a class="button" href="javascript:startRound();">Everyone is here! Go!</a></p>
    </div>
    <div id="hide-session-code" style="display:none">
      <p><a class="button" href="javascript:hideSessionCode();">Hide session code</a></p>
    </div>
    <div id="show-session-code">
      <p><a class="button" href="javascript:showSessionCode();">Show session code</a></p>
    </div>
  </section>

  <section id="categories">
    <h1>what category does <span id="category-chooser"></span> want to see</h1>
    <ul id="category-choices">
    </ul>
  </section>

  <section id="prompt">
    <h1>New release in <em id="category"></em>: <span id="product"></span>, version <span id="version"></span></h1>
    <p id="prompt-open">Submit your changes! time remaining: <span id="timer"></span></p>
    <p id="prompt-closed">Which is <span id="favourite-chooser"></span>'s favourite?</p>
    <ul id="changes">
    </ul>
    <p id="restart-ui"><a href="javascript:startRound();" class="button">None of these work for me.</a></p>
  </section>

  <div id="boss" data-mood="neutral">
  </div>

  <p id="subtitle"></p>

  <script src="{{ url_for('static', filename='vendor/mespeak/mespeak.js') }}"></script>
  <script src="{{ url_for('static', filename='host.js') }}"></script>
{% endblock %}
