{% extends "base.html" %}
{% block content %}
  <section id="lobby">
    <h1>your session code is <code>{{ session_code }}</code></h1>
    <p>get everyone to join, then:</p>
    <a href="javascript:everyoneIsHere();">Everyone is here! Go!</a>
  </section>

  <section id="categories">
    <h1>pick a category</h1>
    <ul id="category-choices">
    </ul>
  </section>

  <section id="prompt">
    <h1>New release in <span id="category"></span>: <span id="product"></span>, version <span id="version"></span></h1>
    <p>Changes include:</p>
    <ul id="changes"></ul>
  </section>

  <script src="{{ url_for('static', filename='vendor/mespeak/mespeak.js') }}"></script>
  <script src="{{ url_for('static', filename='host.js') }}"></script>
{% endblock %}
