{% extends "base.html" %}
{% block content %}
  <form method="post" id="join-form">
    <p>Join an existing session</p>
    <input type="hidden" name="mode" value="join">
    <label for="lobby-input">
      <p>Session code:</p>
      <p><input id="lobby-input" type="text" name="lobby" placeholder="abcd"></p>
    </label>
    <label for="name-input">
      <p>Your name:</p>
      <p><input id="name-input" type="text" name="name"></p>
    </label>
    <p>
      <input type="submit" value="Join!">
    </p>
  </form>

  <form method="post" id="new-game-form">
    <p>Start a new game for others to join (this should be done on a screen that everyone can see)</p>
    <input type="hidden" name="mode" value="start">
    <p>
      <input type="submit" value="Start a new game!">
    </p>
  </form>
{% endblock %}
